:root{
    --main-color:#ffff;
}
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Rubik', sans-serif;
}
.main-container{
    height: 100vh;
    background-image: url("./images/desktop/image-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -250px;
    padding: 0px;
}
.custom-navbar{
    height: 20vh;
    padding: 0px;
}
.custom-row{
    height: 20vh;
}
.custom-logo{
    font-size: 52px;
    margin: 0px;
    font-weight: 900;
    color: var(--main-color);
    margin-left: 100px;
}
.custom-link-main{
    margin-right: 100px;
    padding: 0px;
}
.custom-link{
    color:var(--main-color);
    font-size: 18px;
    padding: 0px;
    font-weight: bolder;
    line-height: 53px;
    margin-left: 30px;
    
}
.custom-link:hover{
    color: var(--main-color);
}
.custom-btn{
    border: none;
    font-size: 20px;
    color: #595D60;
    border-radius: 50px;
    padding: 10px 25px;
    font-weight: bolder;
    background-color: var(--main-color);
}
.col-6{
    padding: 0px;
}
.header-container{
    height:60vh;
}
.header-row{
    height: 60vh;
}
.custom-headtwo{
    font-size: 62px;
    color: var(--main-color);
    font-weight: 900;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin-bottom: 250px;
}

/* section two */
.section-two-content{
    margin: 160px 0 0 120px;
}
.section-two-content h1{
    font-weight: 900;
    width: 30vw;
}
.section-two-content p{
    font-weight: 400;
    font-size: 10px;
    width: 30vw;
}